.page-title {
    display: flex;
    flex-direction: column;
    
    &__image {
        order: 1;
        object-fit: cover;
        height: 300px;
        width: auto
    }
    
    &__header {
        order: 2;
        padding: 1.5rem;
    }
}